<% sleep 3 %>
<turbo-frame id="below_the_fold">
  <h2>Content rendered below the fold</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus. Ullamcorper sit amet risus nullam eget felis.</p>

  <img src="https://via.placeholder.com/1000x560/c3c3c3/000000?text=Image%20below%20the%20fold" alt="Below the fold">

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium fusce id velit. Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Nunc sed blandit libero volutpat sed. Rutrum quisque non tellus orci ac auctor augue mauris augue. Eget arcu dictum varius duis at consectetur lorem. Nisl tincidunt eget nullam non. Egestas sed sed risus pretium quam vulputate dignissim. A diam maecenas sed enim ut sem viverra. Nunc lobortis mattis aliquam faucibus purus in. Sed risus ultricies tristique nulla aliquet enim tortor at. Sagittis eu volutpat odio facilisis mauris sit amet massa vitae. Elementum nibh tellus molestie nunc non blandit massa enim. Nulla aliquet porttitor lacus luctus. Sit amet dictum sit amet justo donec enim. Augue ut lectus arcu bibendum at varius vel pharetra. Aliquam malesuada bibendum arcu vitae.
  </p>

  <p>
    Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Enim nec dui nunc mattis enim ut tellus. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Nisl vel pretium lectus quam. Consequat interdum varius sit amet. Vel facilisis volutpat est velit. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Bibendum neque egestas congue quisque. A arcu cursus vitae congue. Vel facilisis volutpat est velit egestas dui id ornare arcu. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Est pellentesque elit ullamcorper dignissim cras.
  </p>

  <p>
    Natoque penatibus et magnis dis parturient montes. Magna ac placerat vestibulum lectus. Adipiscing elit ut aliquam purus sit amet luctus. Eu facilisis sed odio morbi quis commodo. Pellentesque habitant morbi tristique senectus et netus et. Cursus turpis massa tincidunt dui ut ornare. Nec nam aliquam sem et tortor consequat id porta. Ullamcorper sit amet risus nullam eget. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Eleifend quam adipiscing vitae proin sagittis nisl. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Cursus euismod quis viverra nibh cras pulvinar mattis.
  </p>
</turbo-frame>
