<section>
  <p><code>index_turbo</code> loaded!</p>
</section>

<turbo-frame id="partial1" src="/partial1">
  <section>
    <p class="loading">placeholder for <code>partial1</code></p>
  </section>
</turbo-frame>

<details>
  <summary>Click here to lazy-load <code>partial2</code></summary>

  <turbo-frame id="partial2" src="/partial2" loading="lazy">
    <p class="loading">placeholder for <code>partial2</code></p>
  </turbo-frame>
</details>

<section style="margin-top: 100vh">
  <turbo-frame id="below_the_fold" src="/below_the_fold">
    <p class="loading">placeholder for <code>below_the_fold</code></p>
  </turbo-frame>
</section>
