<ul class="list-group">
  <% films.each do |film_url| %>
    <% film_id = film_url.split("/").last %>

    <li class="list-group-item placeholder-glow">
      <turbo-frame id="film-link-<%= film_id %>" src="/films/<%= film_id %>/link">
        <a class="placeholder col-12"></a>
      <turbo-frame>
    </li>
  <% end %>
</ul>
